*{margin: 0px;padding: 0px;}
        #box{
            width: 800px;
            height: 500px;
            background-image: linear-gradient(to right top,#fc4481,#faa671,#fff);
            margin: 50px auto;
            border-radius: 10px;
            position: relative;
            font-size: 12px;
        }
        .center{
            border-radius: 15px;
            background: white;
            padding: 0px 26px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
        }
        .center a{color: #4c99fc;}
        .center .title h1{padding-top: 32px;font-size: 16px;line-height: 20px;}
        .center .title p{line-height: 32px;}
        .center .form{
            width: 264px;
            margin-top: 10px;
        }
        .center .form input{
            width: 100%;
            text-indent: 12px;
            height: 32px;
            border: 2px solid #f4f4f4;
            border-radius: 10px;
            outline: none;
            margin-bottom: 8px;
            caret-color:#4c99fc;
        }
        .center .form input:focus{
            box-shadow:0px 0px 5px rgb(116, 115, 115);
        }
        
        .center .form div{
            display: flex;
        }
        .center .form div input:first-of-type{
            border-radius: 10px 0px 0px 10px;
            margin-right:2px ;
        }
        .center .form div input:last-of-type{
            border-radius: 0px 10px 10px 0px;
        }
        [type="email"],[name="First_name"],[name="Last_name"],[type="checkbox"]{
            background: #f8f8f8;
        }
        .center .btn{
            width: 264px;
            height: 32px;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
        }
        .center .btn button{
            width: 100%;
            height: 100%;
            color: white;
            background: #4c99fc;
            border: none;
            cursor: pointer;
        }
        .center .btn i{
            font-size: 16px;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: white;
        }
        .center .msg{
            margin: 16px 0px 20px 0px;
            height: 12px;
        }
        .center .msg input{ width: 12px; height: 10px;}
        .center .msg a{text-decoration: none;}